



div.oer-analytics-button {
    max-width: 152px;
    max-height: 350px;
    position: fixed;
    right:0;
    top: 40%;
    /*background-opacity:5%;*/
    /*opacity: 0.5;
    -moz-opacity: 0.5;*/
    background-color: rgb(249,250,252);
    background-color: rgba(249,250,252,0.6);
    display: block;
    font-family: helvetica, arial, sans-serif;
    /*font-size: 300px;*/
    font-weight: lighter;
    padding: 5px 5px;
    text-align: left;
    margin: 30px 0 0;
    /*background-color:#f0f4f7;*/
    /*border: 1px solid #0C142E;
    border-opacity: 36%; */
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*text-shadow: 0 .4px 0 #666666;*/
    /*display: inline;*/
}

/*
div.toshow {
    max-width: 100px;
    max-height: 50px;
    position: fixed;
    right: 0;
    top: 60%;
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-weight: lighter;
    padding: 5px 5px;
    text-align: left;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline;
    background-color: rgb(249,250,252);
    background-color: #25E01B;
}
*/

.hovershow {
    /*background-color: #25E01B;*/
    /*background-color: rgb(249,250,252);
    font-family: helvetica, arial, sans-serif;
    font-weight: lighter;
    padding: 5px 5px;
    text-align: left;
    position: fixed;
    right: 0;
    top: 80%;
    */

    width: 100%;
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-size: 21px;
    font-weight: 100;
    padding: 0 0;
    text-align: center;
    margin: 30px 0 0;
}


#hovershow {
    background: url(http://open.umich.edu/sites/default/files/images/noun_project_4503.png), url(http://open.umich.edu/sites/default/files/images/extra-gradient.png);
    background-color: #7F1622, #7F1622;
    background-repeat: no-repeat, repeat-x;
    background-attachment: scroll;
    background-size: 40px 40px, 60px 60px;
    background-position: center, 0 0;
    border: 2px solid #EEE;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    position: fixed;
    z-index: 100000;
    top: 10%;
    width: 60px;
    height: 60px;
    right: -2px;
    left: auto;
    margin-left: auto;
    margin-right: 0;
    overflow: hidden;
    text-shadow: 0 1px 0 #666;
}

#hovershow:hover {
    background-position: center, 0 -8px;
    background-size: 40px 40px, 60px 68px;
    color: #FFF;
    text-shadow: 0 1px 0 #333;
    border: 2px solid #FFF;
}

#hovershow:active {
    background-image: url(http://open.umich.edu/sites/default/files/images/noun_project_4503.png);
    background-color: #7F1622;
    background-size: 40px 40px;
}

/*
div.oer-analytics-button:active {
    display: none;
}
*/

p.statsnums {
    font-size:34px;
    margin-bottom: 1px;
    margin-top: 6px;
    opacity: 1.0;
    color: #1b335c;
}

p.oer-analytics-small-descr {
    margin-top: 1px;
    margin-bottom: 4px;
    font-size: 12px;
    text-shadow: none;
    color: #1b335c;
    opacity: 1.0;
    line-height: .5em;
}

#hiddenq {
    padding: 0;
    size: 22px 22px;
    font-size: 9px;
    line-height: .4em;
    text-align:center;
}

/*a#extra_button {
    text-decoration: none;
    outline: none;
    color: #EEE;
}*/
/*
.oer-analytics-button { 
    background: #12A7EC repeat-x scroll 0 0;
    border: 1px solid #DE263B;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0 1px 0 #666666;
    
}*/

#oer-analytics-visits {
    /* anything needed ? */
}


span#visits-num {
    /* anything needed */
}




#oer-analytics-visits:active {
    background-image: none;
}
/*#oer-analytics-visits:hover {
    background-position: 0 -5px;
    color: #FFF;
    text-shadow: 0 1px 0 #333;
}*/

/*
#googleanalytics-oer:hover, #googleanalytics-dls:hover, #yt-analytics:hover {
    background-position: 0 -5px;
    color: #996633;
    text-shadow: 0 1px 0 #996633;
}
*/


/*####FIXED ON THE SIDE####

.oer-analytics-button { 
    background: #7F1622 url(/sites/default/files/images/extra-gradient.png) repeat-x scroll 0 0;
    border: 2px solid #EEE;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    position: fixed;
    /*z-index: 100000; */ /*
    top: 15%;
    width: 300px;
    right: -2px;
    left: auto;
    margin-left: auto;
    margin-right: 0;
    overflow: hidden;
    text-align: right;
}
   
 #oer-analyics-button:hover {
    background-position: 0 -5px;
    color: #FFF;
    text-shadow: 0 1px 0 #333;
    border: 2px solid #FFF;
} */




